body {
  background-color: #c8e6c9c0;
  font-family: 'Rubik', sans-serif;
  margin-top: 208px;
  padding: 0px;
}

header{
  background-color: #abccb4;
  height: 5%;
  width: 100%;
  top: 0;
  position: fixed;
}

.logo {
  height: 176px;
  text-align: center;
  width:177px;
}

.text {
  background-color:rgba(217, 153, 139, 0.774);
  height: 30%;
  width: 100%;
}

h1 {
color:#1C3D59;
font-size: 2em;
margin: 15px;
padding: 10px;
font-weight: bold;
margin-bottom: 2px;
}

h2 {
  margin: 15px 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 0.7em;
  line-height: initial;
}

p{
  color:#1C3D59;
  font-size: 1.8em;
  line-height: 1;
  text-align: left;
  width: 50%;
  margin:20px;
  padding: 10px;
  text-align:justify;
}

.filters{
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectCountry, .selectOrder{
  background-color: #88c39971;
  height: 60px;
  width: 200px;
  border-radius: 3px;
  margin: 15px;  
  font-size: 1.2em;
  font-weight: bold;
  color:#1C3D59;
  
}

.container-table {
  overflow-y: auto;
  margin: 15px 50px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 10px; 
  width: 50%;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: 20px;
}

th {
  background-color: #abccb4;
  font-size: 2em;
  font-weight: bold;
}

td {
  text-align: center;  
  vertical-align: bottom;
  font-size: 1.8em;
}

tr:hover {
  background-color: #88c39971;
}
