body,html{
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 180%;
  color: #667;
  text-align: center;
}

.box-peru{
  background-image: url(img/peru-flag-of-peru-peruvian-flag.jpg);
  min-height: 90%;
}

.box-brasil{
  background-image: url(img/brazil-3001462.png);
  min-height: 90%;
}
  
.box-mexico{
  background-image: url(img/mexican-flag-3001452.png);
  min-height: 90%;
}
  
.box-chile{
  background-image: url(img/chile-1460323.jpg);
  min-height: 90%;
}

.box-peru, .box-brasil, .box-mexico, .box-chile{
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  
}

.heading {
  position: center;
  color: black;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 5px gray;
}

section{
  overflow: auto;
  padding: 50px 80px;
}

.dark {
  overflow: auto;
  padding: 50px 80px;
}

.result{
  background: white;
  color: black;
  margin: 5px;
  border-radius: 20px;
}

option{
  background: pink;
}

/*
@media (max-width: 768px) {
  .heading{
    font-size: 250%;
  }
}
*/

select{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

#result-per{
  background: white;
}